
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



nav{
    background-color: #fff9db;
    display: flex;
    justify-content: space-between;
    padding:15px
}


nav .icon{
    display: flex;
}

nav .nav-i{
    display: flex;
}

nav .nav-i li{
    list-style: none;
    padding-right: 15px;
}

nav .nav-i li:last-child{
    padding-right:0;
}

nav .nav-i li:after{
    content: '';
    border: 1px solid #facf32;
}