
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



nav{
    background-color: #fff9db;
    display: flex;
    justify-content: space-between;
    padding:15px
}


nav .icon{
    display: flex;
}

nav .nav-i{
    display: flex;
}

nav .nav-i li{
    list-style: none;
    padding-right: 15px;
    padding-top:10px;
    color:#397d09;
    cursor: pointer;

}

nav .nav-i li:hover{
    color:#57bf0d;
}

nav .nav-i li:last-child{
    padding-right:0;
}

nav .nav-i li:after{
    content: '';
    border: 1px solid #57bf0d;
    margin-left:15px;
    font-size: 12px;
    position: relative;
    top:-2px;
}

nav .nav-i li:last-child::after{
    display: none;
}

nav .icon .icon-i{
    font-size: 35px;
    color: #397d09;
    cursor: pointer;
}

nav .icon .icon-search{
    margin-left:30px;
    position: relative;
   top:-5px;
}


nav .icon .icon-search input{
   padding: 5px;
   width: 350px;
   outline: none;
   border: none;
   font-size: 17px;
   border:1px solid #57bf0d;
   

}

nav .icon .icon-search svg{
    fill: #397d09;
    cursor: pointer;
    width: 30px;
    height: 32px;
    position: relative;
    border: 1px solid #57bf0d;
    position: relative;
    left: -34px;
    top:11px;
}

nav .icon .icon-search svg:hover{
   
    fill:#57bf0d
}

.case{
    padding-left: 10%;
    padding-right: 10%;
}

.case div{
    border: 1px solid #f56767;
    
}
.case .line{
    border: 1px solid red;
}
.case div table{
   
    width: 100%;
}

.case div table td{
    text-align: center;
}

