
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



nav{
    background-color: #fff9db;
    display: flex;
    justify-content: space-between;
    padding:15px
}


nav .icon{
    display: flex;
}

nav .nav-i{
    display: flex;
}

nav .nav-i li{
    list-style: none;
    padding-right: 15px;
    color:#397d09;
    cursor: pointer;
}

nav .nav-i li:hover{
    color:#57bf0d;
}

nav .nav-i li:last-child{
    padding-right:0;
}

nav .nav-i li:after{
    content: '';
    border: 1px solid #57bf0d;
    margin-left:15px;
    font-size: 12px;
    position: relative;
    top:-2px;
}

nav .nav-i li:last-child::after{
    display: none;
}